@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&family=Poppins:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .card:hover .card-item{
        color: #EA3A60;
    }
    .card:hover .socials{
        display: flex;
    }
    body {
        /*background: black;*/
        overflow-x: hidden;
    }
    .fix{
        position: fixed;
    }
    html{
        scroll-behavior: smooth;
    }
    .line{
        line-height: 30px;
    }
    .line-1{
        line-height: 30px;
    }
}